@import "../font/pretendardvariable.css";
@import "./shiki.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-pretendard;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 10% 10%;
    --foreground: 250 10% 90%;
    --card: 250 20% 15%;
    --card-foreground: 250 10% 90%;
    --popover: 250 30% 12%;
    --popover-foreground: 250 10% 90%;
    --primary: 272.7 100% 48.5%;
    --primary-foreground: 250 0% 100%;
    --secondary: 250 100% 70%;
    --secondary-foreground: 250 10% 10%;
    --muted: 250 10% 20%;
    --muted-foreground: 250 10% 90%;
    --accent: 0 100% 70%;
    --accent-foreground: 250 10% 10%;
    --destructive: 360 100% 70%;
    --destructive-foreground: 250 10% 10%;
    --border: 250 20% 30%;
    --input: 220 35% 25%;
    --ring: 0 80% 70%;
    --chart-1: 300 100% 80%;
    --chart-2: 240 100% 90%;
    --chart-3: 200 100% 70%;
    --chart-4: 60 100% 80%;
    --chart-5: 0 100% 80%;
    --radius: 0.75rem;

    --sidebar-background: 250 20% 15%;
    --sidebar-foreground: 250 10% 90%;
    --sidebar-primary: 272.7 100% 48.5%;
    --sidebar-primary-foreground: 250 0% 100%;
    --sidebar-accent: 0 100% 70%;
    --sidebar-accent-foreground: 250 10% 10%;
    --sidebar-border: 250 20% 30%;
    --sidebar-ring: 0 80% 70%;
  }

  .dark {
    --background: 250 10% 10%;
    --foreground: 250 10% 90%;
    --card: 250 20% 15%;
    --card-foreground: 250 10% 90%;
    --popover: 250 30% 12%;
    --popover-foreground: 250 10% 90%;
    --primary: 272.7 100% 48.5%;
    --primary-foreground: 250 0% 100%;
    --secondary: 250 100% 70%;
    --secondary-foreground: 250 10% 10%;
    --muted: 250 10% 20%;
    --muted-foreground: 250 10% 90%;
    --accent: 0 100% 70%;
    --accent-foreground: 250 10% 10%;
    --destructive: 360 100% 70%;
    --destructive-foreground: 250 10% 10%;
    --border: 250 20% 30%;
    --input: 250 20% 15%;
    --ring: 273.0120481927711 99.20318725099602% 49.2156862745098%;
    --chart-1: 300 100% 80%;
    --chart-2: 240 100% 90%;
    --chart-3: 200 100% 70%;
    --chart-4: 60 100% 80%;
    --chart-5: 0 100% 80%;
    --radius: 0.75rem;

    --sidebar-background: 250 20% 15%;
    --sidebar-foreground: 250 10% 90%;
    --sidebar-primary: 272.7 100% 48.5%;
    --sidebar-primary-foreground: 250 0% 100%;
    --sidebar-accent: 0 100% 70%;
    --sidebar-accent-foreground: 250 10% 10%;
    --sidebar-border: 250 20% 30%;
    --sidebar-ring: 300 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}



.electron-draggable {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.electron-draggable-release {
  -webkit-app-region: no-drag;
}
